---
import type { TagInfo } from "../utils/skills";
import Tag from "./Tag.astro";

interface Props {
  imageUrl: string;
  position: string;
  company: string;
  companyUrl: string;
  timeline: string;
  descriptionItems: string[];
  techUsed: TagInfo[];
}

const { imageUrl, position, company, companyUrl, timeline, descriptionItems, techUsed } = Astro.props;
---
<style lang="scss">
  @use "../styles/shared";

  .experience-item {
    display: flex;
  }

  .experience-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .experience-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 80px;
    $size: 160px;
    width: $size;
    height: $size;

    img {
      max-width: $size;
      max-height: $size;
      object-fit: fill;
    }
  }

  .small-experience-image-container {
    display: none;
  }

  .experience-info {
    flex-grow: 1;
  }

  .experience-company {
    color: shared.$themeColor1;

    &:hover {
      color: darken(shared.$themeColor1, 10%);
    }
  }

  .experience-tech {
    padding-left: 0;
  }

  .tech-used {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
  }

  @media (max-width: shared.$mainWidth) {
    .experience-header {
      display: initial;
    }

    .job-title {
      display: block;
    }

    .job-company {
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 5px 0 10px 0;
    }

    .experience-image-container {
      display: none;
    }

    .small-experience-image-container {
      display: inline;
      $size: 2.5rem;
      width: $size;
      height: $size;

      img {
        max-width: $size;
        max-height: $size;
        object-fit: fill;
      }
    }
  }
</style>

<div class="experience-item">
  <div class="experience-image-container">
    <img src={imageUrl} alt={company} />
  </div>
  <div class="experience-info">
    <div class="experience-header">
      <h2>
        <div class="job-title">{position}</div>
        <div class="job-company">
          <div class="small-experience-image-container">
            <img src={imageUrl} alt={company} />
          </div>
          <a href={companyUrl} class="experience-company">{company}</a>
        </div>
      </h2>
      <div>{timeline}</div>
    </div>

    <ul>
      {descriptionItems.map(item => (
        <li>{item}</li>
      ))}
    </ul>

    <ul class="experience-tech tech-used">
      {techUsed.map(tech => <Tag {...tech} />)}
    </ul>
  </div>
</div>
