---
import type { TagInfo } from "../utils/skills";
import Tag from "./Tag.astro";

interface Props {
  imageUrl: string;
  position: string;
  company: string;
  companyUrl: string;
  timeline: string;
  descriptionItems: string[];
  techUsed: TagInfo[];
  isFirst?: boolean;
  isLast?: boolean;
}

const { imageUrl, position, company, companyUrl, timeline, descriptionItems, techUsed, isFirst, isLast } = Astro.props;
---
<style lang="scss">
  @use "../styles/shared";
  @use "sass:color";

  .experience-item {
    display: flex;

    &:not(:last-child) .experience-info {
      padding-bottom: 70px;
    }
  }

  .experience-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
  }

  .experience-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-right: 70px;
    $size: 120px;
    width: $size;
    height: $size;

    img {
      max-width: $size;
      max-height: $size;
      object-fit: fill;
    }
  }

  .small-experience-image-container {
    display: none;
  }

  .experience-info {
    flex-grow: 1;
  }

  .experience-title-company {
    font-size: 1.5rem;
  }

  .experience-company {
    font-size: 1.25em;
    color: shared.$themeColor1;

    &:hover {
      color: color.adjust(shared.$themeColor1, $lightness: -10%);
    }
  }

  .experience-tech {
    padding-left: 0;
    padding-top: 10px;
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
  }

  .timeline-bar {
    width: 100px;
    flex-grow: 0;
    flex-shrink: 0;

    svg {
      height: 100%;
    }
  }

  @media (max-width: shared.$mainWidth) {
    .experience-header {
      display: initial;
    }

    .timeline-bar {
      display: none;
    }

    .job-title {
      display: block;
    }

    .job-company {
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 5px 0 10px 0;
    }

    .experience-image-container {
      display: none;
    }

    .small-experience-image-container {
      display: inline;
      $size: 2.5rem;
      width: $size;
      height: $size;

      img {
        max-width: $size;
        max-height: $size;
        object-fit: fill;
      }
    }
  }
</style>

<div class="experience-item">
  <div class="experience-image-container">
    <img src={imageUrl} alt={company} />
  </div>
  <div class="timeline-bar">
    <svg width="100" style="height: 100%;">
      {!isFirst && <line x1="50" y1="0" x2="50" y2="48" stroke="#ccc" stroke-width="2" />}
      <circle cx="50" cy="60" r="7" fill="#484848" />
      {!isLast && <line x1="50" y1="72" x2="50" y2="2000" stroke="#ccc" stroke-width="2" />}
    </svg>
  </div>
  <div class="experience-info">
    <div class="experience-header">
      <h2 class="experience-title-company">
        <div class="job-company">
          <div class="small-experience-image-container">
            <img src={imageUrl} alt={company} />
          </div>
          <a href={companyUrl} class="experience-company">{company}</a>
        </div>
        <div class="job-title">{position}</div>
      </h2>
      <div>{timeline}</div>
    </div>

    <ul>
      {descriptionItems.map(item => (
        <li>{item}</li>
      ))}
    </ul>

    <ul class="experience-tech">
      {techUsed.map(tech => <Tag {...tech} />)}
    </ul>
  </div>
</div>
