---
import { Icon } from 'astro-icon'
import '@fortawesome/fontawesome-svg-core/styles.css';

// library.add(faCamera)

// const camera = icon({ prefix: 'fas', iconName: 'camera' }).html;

interface ContactItem {
  name: string;
  href: string;
  icon: string;
}

const contactItems = [
  {
    name: "Email",
    href: "mailto:alexsnezhko89@gmail.com",
    icon: "envelope"
  },
  {
    name: "LinkedIn",
    href: "https://www.linkedin.com/in/alex-snezhko/",
    icon: "linkedin"
  },
  {
    name: "GitHub",
    href: "https://github.com/alex-snezhko",
    icon: "github"
  },
]
---
<style lang="scss">
  @use "../styles/shared";

  footer {
    text-align: center;
    color: rgb(141, 153, 153);
    padding-bottom: 40px;
  }

  .contact-items {
    display: flex;
    margin: 80px 0 40px 0;
    gap: 20px;
    justify-content: center;
  }

  .contact-item {
    display: flex;
    align-items: center;
    // width: 160px;
    // padding: 12px 16px;
    // border-radius: 10px;
    color: var(--font-color);

    &:hover {
      color: shared.$themeColor2;
    }
  }

  [astro-icon] {
    // width: 20px;
    width: 30px;
    margin-right: 12px;
  }
</style>

<div class="contact-items">
  {contactItems.map(item => (
    <a class="contact-item" href={item.href} target="_blank">
      <Icon pack="fa" name={item.icon} />
    </a>
    // <a class="contact-item" href={item.href} target="_blank">
    //   <Icon pack="fa" name={item.icon} />
    //   <span>{item.name}</span>
    // </a>
  ))}
</div>
<footer>🚀 Built with Astro</footer>
