---
import Project from "./Project.astro";
import { projects } from "../utils/projects";
---

<style lang="scss">
  @use "../styles/shared";

  .projects {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    // align-items: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 50px;

    div {
      width: calc(50% - 25px);
      // padding: 25px;
    }
  }

  @media (max-width: shared.$mainWidth) {
    .projects {
      gap: 20px;
      div {
        width: calc(50% - 10px);
      }
    }
  }

  @media (max-width: shared.$smallScreen) {
    .projects div {
      width: 100%;
    }
  }
</style>

<div>
  <div class="projects">
    {
      projects.map((p) => (
        <div>
          <Project
            projectName={p.projectName}
            projectUrl={p.projectUrl}
            imgSrc={p.imgSrc}
            body={p.body}
            techUsed={p.techUsed}
          />
        </div>
      ))
    }
  </div>

  <p>
    <a href="http://github.com/alex-snezhko">More projects on GitHub</a>
  </p>
</div>
