---
import Project from "./Project.astro";
import { projects } from "../utils/projects";
---

<style lang="scss">
  @use "../styles/shared";

  .projects {
    margin: 0 -15px;
    display: flex;
    justify-content: center;
    // align-items: center;
    flex-wrap: wrap;
    text-align: center;

    div {
      width: 33.33%;
      padding: 15px;
    }
  }

  @media (max-width: shared.$mainWidth) {
    .projects div {
      width: 50%;
    }
  }

  @media (max-width: shared.$smallScreen) {
    .projects div {
      width: 100%;
    }
  }
</style>

<div>
  <div class="projects">
    {projects.map(p => (
      <div>
        <Project
          projectName={p.projectName}
          projectUrl={p.projectUrl}
          imgSrc={p.imgSrc}
          body={p.body}
          techUsed={p.techUsed}
        />
      </div>
    ))}
  </div>

  <p>
    The source code for all of these projects, this webpage, and more can be
    found on my <a href="http://github.com/alex-snezhko">GitHub</a> page
  </p>
</div>
