---
import { ALL_SKILLS, LANGUAGES, FRAMEWORKS, TOOLS } from "../utils/skills";
import type { Skill } from "../utils/skills";

interface Point {
  x: number,
  y: number,
}

interface Path {
  begin: Point,
  end: Point,
}

interface ArcPaths {
  near: Path,
  far: Path,
}

interface CurveInfo {
  fullName: string,
  shortName: string,
  upsideDown: boolean,
  textPath: Path,
}

// make sure to keep same as $mainWidth scss variable
const CIRCLE_SIZE = 880;
const TEXT_RADIUS = (CIRCLE_SIZE - 80) / 2;
const ARC_THICKNESS = 120;
const CIRCLE_RADIUS = TEXT_RADIUS - (ARC_THICKNESS / 2) - 24;

// angle of seperation between elements (in radians)
// + 1.5 because each section has a half image gap and there are 3 sections
const ANGLE_SEP = 2 * Math.PI / (ALL_SKILLS.length + 1.5);
// angle that the first element in each set (fundamentals,
// languages, etc.) should be transformed by
const ANGLE_FIRST = -(Math.PI / 2) + (3 / 4) * ANGLE_SEP;

// find angles on circle at which sections seperate
const DIV_ANGLES: number[] = [];
DIV_ANGLES[0] = Math.PI / 2;
DIV_ANGLES[1] = DIV_ANGLES[0] - (FRAMEWORKS.length + 0.5) * ANGLE_SEP;
DIV_ANGLES[2] = DIV_ANGLES[1] - (TOOLS.length + 0.5) * ANGLE_SEP;

const getXY = (radius: number, angle: number) => ({
  x: CIRCLE_SIZE / 2 + radius * Math.cos(angle),
  y: CIRCLE_SIZE / 2 - radius * Math.sin(angle)
} as Point);

// find x and y coordinates on svg for beginning of arc segments
const ARCS = DIV_ANGLES.map((angle, i) => ({
  near: {
    begin: getXY(CIRCLE_RADIUS - ARC_THICKNESS / 2, angle),
    end: getXY(CIRCLE_RADIUS - ARC_THICKNESS / 2, DIV_ANGLES[(i + 1) % 3]),
  },
  far: {
    begin: getXY(CIRCLE_RADIUS + ARC_THICKNESS / 2, angle),
    end: getXY(CIRCLE_RADIUS + ARC_THICKNESS / 2, DIV_ANGLES[(i + 1) % 3]),
  }
} as ArcPaths));

const textPathD = (path: Path, upsideDown: boolean) => upsideDown
  ? `M ${path.end.x} ${path.end.y} A ${TEXT_RADIUS + 20} ${TEXT_RADIUS + 20} 0 0 0 ${path.begin.x} ${path.begin.y}`
  : `M ${path.begin.x} ${path.begin.y} A ${TEXT_RADIUS} ${TEXT_RADIUS} 0 0 1 ${path.end.x} ${path.end.y}`;

const arcPathD = (arc: ArcPaths) => {
  const nearRadius = CIRCLE_RADIUS - ARC_THICKNESS / 2;
  const farRadius = CIRCLE_RADIUS + ARC_THICKNESS / 2;
  return `
    M ${arc.near.begin.x} ${arc.near.begin.y}
    A ${nearRadius} ${nearRadius} 0 0 1 ${arc.near.end.x} ${arc.near.end.y}
    L ${arc.far.end.x} ${arc.far.end.y}
    A ${farRadius} ${farRadius} 0 0 0 ${arc.far.begin.x} ${arc.far.begin.y}
    Z
  `;
}

const getTextInfo = (textAngle: number, upsideDown: boolean) => ({
  begin: getXY(TEXT_RADIUS + (upsideDown ? 20 : 0), textAngle),
  end: getXY(TEXT_RADIUS + (upsideDown ? 20 : 0), textAngle - 2)
})

const CURVES: CurveInfo[] = [
  { fullName: "Programming Languages", shortName: "langs", upsideDown: false, textPath: getTextInfo(3.1, false) },
  { fullName: "Libraries/Frameworks", shortName: "frameworks", upsideDown: false, textPath: getTextInfo(7.1, false) },
  { fullName: "Tools/Software", shortName: "tools", upsideDown: true, textPath: getTextInfo(6.48, true) }
];
      
function getTransform(i: number) {
  // additional offset to make seperate sections not touch
  const add = (i < FRAMEWORKS.length) ? 0 : (i < FRAMEWORKS.length + TOOLS.length) ? 0.5 : 1;

  const angle = ANGLE_FIRST + (i + add) * ANGLE_SEP;
  const transform = `translate(-50%, -50%) rotate(${angle}rad) translate(${CIRCLE_RADIUS}px) rotate(${-angle}rad)`;
  return transform;
}

const SKILLS_INFO: [string, Skill[]][] = [
  ["Programming Languages", LANGUAGES.reverse()], // quick hack to get correct order
  ["Libraries/Frameworks", FRAMEWORKS],
  ["Tools/Software", TOOLS],
];
---

<style lang="scss">
  @use "../styles/shared";

  #skills-circle {
    position: relative;
    border-radius: 50%;
    margin: auto;
    text-align: center;
    margin-top: -50px;
  }

  text {
    fill: var(--text-color);
    font-size: 1.75rem;
  }

  .arc-fill {
    fill: var(--container-color);
    stroke: var(--container-border-color);
  }

  .skill-picture {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 68px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;

    &:hover {
      width: 78px;
      height: 78px;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }

  .skill-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    transition: opacity 0.5s;
    opacity: 0;
  }

  #skill-info-placeholder {
    font-size: 1.75em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 375px;
    transition: opacity 0.5s;
    opacity: 1;
    margin: 0;
  }

  .info-image {
    max-width: 140px;
    max-height: 140px;
    object-fit: contain;
  }

  .info-name {
    font-size: 1.75rem;
    margin: 6px;
  }

  .info-extra {
    color: #777;
    font-size: 1rem;
  }

  .experience-via-divider {
    position: relative;
    margin: 14px auto;
    width: 60%;
    height: 30px;

    div {
      z-index: 1;
      width: 100%;
      height: 2px;
      position: absolute;
      top: 50%;
      background-color: #ccc;
    }

    p {
      z-index: 4;
      white-space: nowrap;
      padding: 0 12px;
      background-color: white;
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #888;
    }
  }

  .experience-via {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding-bottom: 4px;

      img, span {
        vertical-align: middle;
      }

      span {
        margin-left: 4px;
      }
    }
  }

  #skills-normal {
    display: none;
  }

  .skills-section {
    margin-bottom: 50px;
  }

  .skill-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px;
  }

  .skill-alternate {
    background-color: var(--container-color);
    border: 1px solid var(--container-border-color);
    text-align: center;
    width: 105px;
    padding: 15px 0;
    border-radius: 14px;

    p {
      margin-bottom: 0;
      font-weight: bold;
    }
  }

  .skill-picture-alternate {
    margin: auto;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }

  @media (max-width: shared.$mainWidth) {
    #skills-circle {
      display: none;
    }

    #skills-normal {
      display: block;
      text-align: center;
    }
  }
</style>

<script>
  const skills = document.getElementsByClassName("skill-picture");
  const skillInfoPlaceholder = document.getElementById("skill-info-placeholder")!;
  const skillInfosByName = Object.fromEntries([...document.getElementsByClassName('skill-info')].map(x => [x.getAttribute('data-name') as string, x as HTMLElement] as const))
  let fadeTimeout: NodeJS.Timeout | undefined;

  let selected: HTMLElement | undefined

  for (let i = 0; i < skills.length; i++) {
    const skill = skills[i];
    skill.addEventListener("mouseenter", () => {
      clearTimeout(fadeTimeout);

      skillInfoPlaceholder.style.visibility = "hidden";
      skillInfoPlaceholder.style.opacity = "0";

      const skillInfo = skillInfosByName[skill.getAttribute('data-name') as string]
      selected = skillInfo
      skillInfo.style.visibility = "visible";
      skillInfo.style.opacity = "1";
    });
    skill.addEventListener("mouseleave", () => {
      fadeTimeout = setTimeout(() => {
        if (selected) {
          selected.style.visibility = 'hidden'
        }
        skillInfoPlaceholder.style.opacity = "1";
        skillInfoPlaceholder.style.visibility = "visible"
      }, 500);
      if (selected) {
        selected.style.opacity = "0";
      }
    });
  }
</script>

<div>
  <div id="skills-circle" style={{ width: CIRCLE_SIZE, height: CIRCLE_SIZE }}>
    <svg xmlns="http://www.w3.org/2000/svg" style={{ width: CIRCLE_SIZE, height: CIRCLE_SIZE }} width={CIRCLE_SIZE} height={CIRCLE_SIZE}>
      {CURVES.map((curve, i) => (
        <>
          <path
            class={`arc-fill arc-fill-${curve.shortName}`}
            d={arcPathD(ARCS[i])}
          />

          <path
            fill="none"
            id={`${curve.shortName}-curve`}
            d={textPathD(curve.textPath, curve.upsideDown)}
          />

          <text width="500">
            <textPath xlink:href={`#${curve.shortName}-curve`}>
              {curve.fullName}
            </textPath>
          </text>
        </>
      ))}
    </svg>

    {ALL_SKILLS.map((item, i) => (
      <div class="skill-picture" style={{ transform: getTransform(i) }} data-name={item.name}>
        <img src={item.imgUrl} alt={item.name} data-desc={item.description} />
      </div>
    ))}

    <h1 id="skill-info-placeholder">Hover over an icon to view details</h1>
    {ALL_SKILLS.map(item => (
      <div class="skill-info" data-name={item.name}>
        <img class="info-image" src={item.imgUrl} alt={item.name} />
        <h1 class="info-name">{item.name}</h1>
        <h2 class="info-extra">{item.description}</h2>
        <div class="experience-via-divider">
          <div></div>
          <p>Experience Via</p>
        </div>
        <ul class="experience-via">
          {item.via.map(via => (
            <li>
              {via.imgUrl && <img src={via.imgUrl} alt={via.name} width="18" height="18" />} <span>{via.name}</span>
            </li>
          ))}
        </ul>
      </div>
    ))}
  </div>

  <div id="skills-normal">
    {SKILLS_INFO.map(([name, skills]) => (
      <div class="skills-section">
        <h2>{name}</h2>
        <div class="skill-container">
          {skills.map(item => (
            <div class="skill-alternate">
              <div class="skill-picture-alternate">
                <img src={item.imgUrl} alt={item.name} data-desc={item.description} />
              </div>
              <p>{item.name}</p>
            </div>
          ))}
        </div>
      </div>
    ))}
  </div>
</div>
